*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color: #353333;
}

body{
    background-color: #00000017;
}
#navbar{
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1.3rem;
}
main{
    padding: 30px 0 30px 0;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.translator-box{
    width: 700px;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.translator-box img{
   width: 30%;
    border-radius: 10px;
}
.translator-box h5{
    color: black;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 10px 0;
}
textarea{
    border: 0.5px solid rgba(0, 0, 0, 0.144);
    width: 80%;
    padding: 20px;
    font-size: 1.1rem;
    border-radius: 10px;
}
textarea:focus{
    outline: none;
}
.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.btn-container button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 0.5px solid rgb(255, 255, 255);
    background-color: #353333;
    color: #fff;
}
.text-output{
    border: 0.5px solid rgba(0, 0, 0, 0.144);
    width: 80%;
    padding: 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    margin: 15px 0;
    height: 120px;
    color: #000;
    text-align: left;
    background-color: #fff;
}
footer{
    border-top: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
footer ul li{
    display: inline-block;
    margin: 0 10px;
}
footer ul li a{
    color: #fff;
}

@media(max-width: 960px){
    .img-box img{
        height: auto;
    }
    main{
        padding: 30px 0 30px 0;
        color: #fff;
        display: flex;
        justify-content: center;
    
    }
}